@import url("https://fonts.googleapis.com/css?family=Raleway|Six+Caps");
body {
  margin: 0; }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 55%;
  min-width: 410px;
  height: 100%;
  background: url("../assets/bg.png") 99% 50%/cover; }
  header img {
    position: relative;
    left: calc(45% - 155px);
    opacity: 0.8; }
  header nav {
    width: 95%;
    text-align: center; }
    header nav a {
      margin: 3px;
      padding: 3px;
      border-bottom: 1px dashed #fff;
      font: 400 32px 'Six Caps', sans-serif;
      text-transform: lowercase;
      text-decoration: none;
      color: #fff;
      opacity: 0.8; }
      header nav a:hover {
        text-decoration: none;
        color: #fff;
        opacity: 1; }

main {
  float: right;
  width: 41%;
  min-width: 410px;
  height: 100%;
  padding: 0 4% 0 10%;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  line-height: 1.4em;
  background: #fff; }
  main section {
    height: 100vh; }
    main section h2 {
      margin-top: 50px;
      font: 400 62px/2em 'Six Caps', sans-serif;
      text-transform: lowercase;
      letter-spacing: 5px; }
  main audio {
    display: block; }
